body {
  font-family: sans-serif;
}

#wrapper {
}

#mainCanvasContainer {
	border: 2px solid #ccc;
  margin: 5px;
}

#stopButton {
  display: inline;
  margin-left: 5px;
  margin-right: 15px;
}

#backgroundCanvas {
  display: none;
}
